/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* Body general styling */

    .container {
        border: 1px solid black;
    }

    .title {
        line-height: 100px;
        margin: auto;
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 2px;
    }

    .fas, .far, .fab {
        font-size: 40px !important;
    }

/* Body desktop */ 

@media screen and (min-width: 850px) {

    
    body {
        font-family: Raleway;
        font-size: 22px;
        color: black;
        font-weight: 400;
        letter-spacing: 2px;
        margin: 0px !important;
    }
    
}

/* Body mobile */ 
    
@media screen and (max-width: 849px) {
    
    body {
        font-family: Raleway;
        font-size: 18px;
        color: black;
        font-weight: 400;
        letter-spacing: 2px;
        margin: 0px !important;
    }
    
}

/* Top-scroll general styling */

/* Top-scroll desktop */

@media screen and (min-width: 850px) {
    
    .top-scroll {
        display: none;
        font-size: 43px;
        color: grey;
        position: fixed;
        bottom: 0;
        left: 90%;
        background-color: rgba(0,0,0,.0);
        border: 3px solid grey;
        border-bottom: none;
        padding: 15;
        padding-left: 17;
        border-radius: 15%;
        margin-bottom: -15;
        z-index: 1;
    }
    
    .top-scroll:hover {
        background-color: aqua;
        border: 3px solid aqua;
        color: white; 
    }

}
    
/* Top-scroll mobile */

@media screen and (max-width: 849px) {

    .top-scroll {
        display: none;
        font-size: 20px;
        color: grey;
        position: fixed;
        bottom: 0;
        left: 85%;
        background-color: rgba(0,0,0,.0);
        border: 2px solid grey;
        border-bottom: none;
        padding: 15;
        padding-left: 17;
        border-radius: 15%;
        margin-bottom: -15;
        z-index: 1;
    }
    
    .top-scroll:hover {
        background-color: aqua;
        border: 2px solid aqua;
        color: white; 
    }
    
}

/* Menu general styling */

    .menu-wrapper {
        top: 0;
        left: 0;
        height: 70px;
        position: fixed;
        width: 100%;
        background-color: white;
        box-shadow: 0px 0px 3px #000;
        z-index: 1;
        
    }

/* Menu desktop */

@media screen and (min-width: 850px) {
    
    li {
        float: left;
    }
    
    .menu-link {
        text-decoration: none;
        position: relative;
        top: 22;
        padding: 20px 20px 24px 20px;
    }
    
    .menu-link:hover {
        background-color: aqua;
        color: white;
    }
    
    .hamburger, .cross {
        display: none;
    }
    
    .menu {
        display: block !important;
        float: right;
        font-size: 22px;
        letter-spacing: 2px;
        list-style-type: none; 
        color: white;
        padding-bottom: 2px;
    }
    
    header {
        display: inline-block;
    }
    
}

/* Menu mobile */

@media screen and (max-width: 849px) {

.hamburger {
      background:none;
      position: absolute;
      top: 10px;
      right: 20px;
      line-height:45px;
      padding:5px 15px 0px 15px;
      color:#999;
      border:0;
      font-size:1.2em;
      font-weight:bold;
      cursor:pointer;
      outline:none;
      z-index:10000000000000;
    }

    .cross {
      background: none;
      position: absolute;
      top: 10px;
      right: 20px;
      padding: 7px 15px 0px 15px;
      color:#999;
      border:0;
      font-size:2.5em;
      line-height:65px;
      font-weight:bold;
      cursor:pointer;
      outline:none;
      z-index:10000000000000;
        margin-top: 3px;
    }

    .menu-link {
        text-decoration: none;
        position: relative;
        top: 20;
        padding: 20px 20px 24px 20px;
        margin-top: 50px;
    }

    .main-menu li {
        padding: 11px;
    }
    
    .menu {
        width:100%; 
        background:#f1f1f1;  
        position:absolute;
        left: 0;
        top: 70;
        text-align:center;
        height: 200px;
    }
    
    header {
        width:100%; 
        background:#ffffff; 
        height:60px; 
        line-height:40px;
        display:inline-block; 
    }  
    
}

/* Hero section general styling */

/* Hero container desktop */

@media screen and (min-width: 850px) {

    .main-header {
        color: white;
        margin-top: 0;
        margin-bottom: .5em;
        font-size: 5em; 
    }
    
    #hero {

        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/hero-background.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;    
    }
    
        a.btn-learnmore {
        display: block;
        width: 200px;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        font-size: 18px;
        background-color: rgba(0,0,0,.0);
        border: 2px solid white;
        color: white; 
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    a.btn-learnmore:hover {
        color: white;
        border: 2px solid aqua;
        background-color: aqua;
    }
    
}

/* Hero container mobile */

@media screen and (max-width: 849px) {

    .main-header {
        color: white;
        margin-top: 0;
        margin-bottom: .5em;
        font-size: 3em;
        
    }
    
 #hero {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/hero-background-mobile-1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: relative;
    }
    
    a.btn-learnmore {
        display: block;
        width: 200px;
        padding: .5em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        font-size: 18px;
        background-color: rgba(0,0,0,.0);
        border: 2px solid white;
        color: white; 
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    a.btn-learnmore:hover {
        color: grey;
        background-color: white;
    }
    
}

/* General section styling desktop */

@media screen and (min-width: 850px) {
    
    .section-title {
        font-size: 40px;
        padding-bottom: 30px;
    }
    
    .anchor-offset {
        top: -140px;
        display: block;
        position: relative;
    }
    
    .section-text {
        padding: 4em;
        line-height: 1.45;
        text-align: left;
        grid-column: 1/4;
        grid-row: 1/2;
    }

}

/* General section styling mobile */

@media screen and (max-width: 849px) {
    
    .section-title {
        font-size: 35px;
        padding-bottom: 30px;
    }
    
    .anchor-offset {
        top: -100px;
        display: block;
        position: relative;
    }
    
    .section-text {
        padding: 2em;
        line-height: 1.45;
        text-align: left;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
}

/* About section general styling */

/* About section desktop */

@media screen and (min-width: 850px) {

    .about {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, minmax(300px, auto)); 
        border-top: 10px solid aqua;
        border-bottom: 10px solid aqua;
    }
    
    .about-title {
        grid-column: 1/6;
        grid-row: 1/2;
    }
    
    .about-image {
        grid-column: 4/6;
        grid-row: 1/2;
        background-image: url(../images/profilev2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
        
    }
}

/* About section mobile */

@media screen and (max-width: 849px) {
    
    .about {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, minmax(300px, auto)); 
        border-top: 10px solid aqua;
        border-bottom: 10px solid aqua;
    }
    
    .about-title {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .about-image {
        grid-column: 1/2;
        grid-row: 1/2;
        background-image: url(../images/profilev2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
    }
}

/* Project section general styling */

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
    color: aqua;
}

/* Project section desktop */

@media screen and (min-width: 850px) {
    
    .projects{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, minmax(0px, auto));
        padding: 4em;
        text-align: center;
        background-color: #f6f6f6;
    }
    
    .projects-title {
        grid-column: 1/6;
        grid-row: 1/2;
        text-align: left;
    }
    
    .row-one {
        grid-row: 2/3;
        margin-top: 3em;
    }
    
    .row-two {
        grid-row: 3/4;
        margin-top: 2em;
    }
    
    .row-three {
        grid-row: 4/5;
    }
    
    .col-one {
        grid-column: 2/3;
        margin-right: 3em; 
    }

    .col-two {
        grid-column: 3/4;
    }

    .col-three {
        grid-column: 4/5;
        margin-left: 3em;
    }
    
}

/* Project section mobile */

@media screen and (max-width: 849px) {
    
    .projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, minmax(0px, auto));
        padding: 2em;
        text-align: center;
        background-color: #f6f6f6;
    }
    
    .projects-title {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: left;
    }
    
    #one {
        grid-row: 2/3;
        grid-column: 0/1;
        margin-top: 1em;
    }
    
    #two {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-top: 1em;
    }
    
    #three {
        grid-row: 3/4;
        grid-column: 0/1;
    }
    
    #four {
        grid-row: 3/4;
        grid-column: 1/2;   
    }
    
    #five {
        grid-row: 4/5;
        grid-column: 0/1;
    }
    
    #six {
        grid-row: 4/5;
        grid-column: 1/2;
    }  
    
}

/* Contact section general styling */

     .contact-form {
        border-radius: 5px;
        border: 1px solid grey;
        margin: 5 0 30 0;
    }
    
    .form-message {
        height: 200px;
        resize: none;
    }
    
    .btn-submit {
        width: 200px;
        font-size: 18px;
        height: 50px;
        background-color: white;
    }
    
    .btn-submit:hover {
        background-color: aqua;
        color: white;
        border: none;
        cursor: pointer;
    }

    .success-message {
        display: none;
        background-color: lightgreen;
        padding: 1em;
        color: darkgreen;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    
    .failure-message {
        display: none;
        background-color: lightcoral;
        padding: 1em;
        color: black;
        border-radius: 5px;
        margin-bottom: 20px;   
    }
    
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 30px;
        line-height: 1em;
        cursor: pointer;
        transition: 0.5s;
    }

    .closebtn:hover {
        color: black;
    }

/* Contact section desktop */

@media screen and (min-width: 850px) {
    
    .form-name, .form-email, .form-subject, .form-message {
        height: 50px;
        width: 80vw;
        font-size: 22px;
        font-family: raleway;
        color: darkgrey;
        padding-left: 10px;
        background-color: white;
    }


}
    
/* Contact section mobile */

@media screen and (max-width: 849px) { 
    
    .form-name, .form-email, .form-subject, .form-message {
        height: 50px;
        width: 80vw;
        font-size: 22px;
        font-family: raleway;
        color: darkgrey;
        padding-left: 10px;
        background-color: white;
    }

}
        
/* Footer general styling */
        
    .footer-text {
        grid-column: 1/2;
        grid-row: 2/3;        
    }
    
    .footer-icon {
        grid-column: 1/2;
        grid-row: 1/2;
    }
        
/* Footer section desktop */

@media screen and (min-width: 850px) { 
        
    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, minmax(0px, auto));
        background-color: #f6f6f6;
        text-align: center;
        font-size: 15px;
        padding: 25px;
    }
    
    .fa-bicycle {
        font-size: 35px !important;
    }
    
}
        
/* Footer section mobile */

@media screen and (max-width: 849px) {
        
.footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, minmax(0px, auto));
        background-color: #f6f6f6;
        text-align: center;
        font-size: 15px;
        padding: 25 0 20 0;
    }
    
    .fa-bicycle {
        font-size: 30px !important;
    }
    
}

/* Photo section general styling */

    .image-holder {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
    }

    .image-1 {
        background-image: url('https://images.unsplash.com/photo-1533736970669-7edc3f971be1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
    }
    
    .image-2 {
        background-image: url('https://images.unsplash.com/photo-1516026672322-bc52d61a55d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    }
    
    .image-3 {
        background-image: url('https://images.unsplash.com/photo-1519834785169-98be25ec3f84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    }
    
    .image-4 {
        background-image: url('https://images.unsplash.com/photo-1505904645664-def2335fb0d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    }
    
    .image-5 {
        background-image: url('https://embedwistia-a.akamaihd.net/deliveries/d5ae8190f0aa7dfbe0b01f336f29d44094b967b5.jpg?image_crop_resized=1280x720');
    }
    
    .image-6 {
        background-image: url('https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&w=1000&q=80');
    }
    
    .image-7 {
        background-image: url('https://images.unsplash.com/photo-1526071904038-18bc29e6df91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    }
    
    .image-8 {
        background-image: url('https://media.wired.com/photos/5926538eaf95806129f4f0b6/master/pass/UnsplashHP.jpg');
    }
    
    .image-9 {
        background-image: url('https://images.unsplash.com/photo-1496060169243-453fde45943b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    }
    
    .image-10 {
        background-image: url('https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    }
    
    .image-11 {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0-yhARtHOZcgI5CKaQ8-9fMpuVpgJzcp3QNPYWJlgVkvJxfL8JA');
    }
    
    .image-12 {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLnPiMfjMPk6zTkM_Jp7UPTqRNu9R_Kh_88s1lyrUUOV69gbAGzg');
    }
    
    .image-13 {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRubzhGWfdH5gCuVdmvqNhXplvd33QJNOwCiybzctevLpDGTkVJ');
    }
    
/* Photo section desktop */

@media screen and (min-width: 850px) {   

    #gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 10px;
        grid-auto-rows: minmax(500px, auto);
        grid-auto-flow: dense;
        padding: 10px;
    }
    
    .photo {
        padding: 4em;
    }
    
    .photo-title {
        grid-column: 1/6;
        grid-row: 1/2;
        text-align: left;
    }
    
    .landscape {
        grid-column-end: span 2;
        grid-row-end: span 1;
    }
    
}

/* Photo section mobile */

@media screen and (max-width: 849px) {
 
    #gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 10px;
        grid-auto-rows: minmax(200px, auto);
        grid-auto-flow: dense;
    }
    
    .photo {
        padding: 2em;
    }
    
    .photo-title {
        text-align: left;
    }
    
    .portrait {
        grid-column-end: span 1;
        grid-row-end: span 2;
    }
    
}

/* Resume section general styling */

    .company-name {
        font-style: italic;
        font-size: 20px;
    }

    .studykik {
            background-image: url(../images/sk-logo.png);
    }

    .bmm-1 {
            background-image: url(../images/bm-logo);
    }

    .rlt-1 {
            background-image: url(../images/rlt-logo-2.png);
    }
    
    .company-image {
        background-repeat: no-repeat;
        background-size: contain;
    }

    a.btn-download:hover {
        color: white;
        background-color: aqua;
        border: 2px solid aqua;
    }

/* Resume section desktop */

@media screen and (min-width: 850px) {
    
    .resume-container {
        padding: 4em;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(100px, auto); 
        border-top: 10px solid aqua;
        border-bottom: 10px solid aqua;
        grid-gap: 25px;
    }
    
    .btn-download-container {
        grid-column: 1/5;
        margin-top: 40px;
        grid-row: 8;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .btn-download {
        padding: 1em;
        border-radius: 10px;
        font-size: 15px;
        border: 2px solid black;
        color: black;
        text-align: center;
        padding-top: 1.4em;
    }
    
    .resume-title {
        grid-column: 1/5;
        grid-row: 1;
        font-size: 40px;
        padding-bottom: 30px;
        margin: 20px 0 20px 0;
    }
    
    .company-image {
        background-position: top;
    }
    
    .position-title {
        font-size: 30px;
        padding-bottom: 30;
        margin: 0 0 20 0;
    }
    
    .position-details {
        margin 0 0 0 25;
        line-height: 1.45;
        text-align: left;
        grid-column: 1/5;
        font-size: 20px;
    }
    
    .add-padding {
        padding: 20 0 0 0 !important;
    }
    
    .add-margin {
        margin: 20 0 0 0 !important;
    }
     
    .company-1-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1/5;
        grid-row: 7;
    }
    
    .company-2-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1/5;
        grid-row: 6;
    }
    
    .company-3-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1/5;
        grid-row: 5;
    }
    
    .company-4-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1/5;
        grid-row: 4;
    }
    
    .company-5-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1/5;
        grid-row: 3;
    }
    
    .company-6-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1/5;
        grid-row: 2;
    }
    
    .rlt-1 {
        grid-column: 6;
        grid-row: 7;
    }
    
    .bmm-1 {
        grid-column: 6;
        grid-row: 6;
    }
    
    .sk-1 {
        grid-column: 6;
        grid-row: 5;
        margin: 20 0 0 0 !important;
    }
    
    .sk-2 {
        grid-column: 6;
        grid-row: 4;
        margin: 20 0 0 0 !important;
    }
    
    .sk-3 {
        grid-column: 6;
        grid-row: 3;
        margin: 20 0 0 0 !important;
    }
    
    .sk-4 {
        grid-column: 6;
        grid-row: 2;
    }
    
    .company-image {
        width: 200px;    
    }
    
}

/* Resume section mobile */

@media screen and (max-width: 849px) {
    
    .resume-container {
        padding: 2em;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(0px, auto); 
        border-top: 10px solid aqua;
        border-bottom: 10px solid aqua;
        grid-gap: 5px;
    }
    
    .btn-download-container {
        grid-column: 1/2;
        margin-top: 40px;
        grid-row: 15;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(0px, auto);
    }
    
    .btn-download {
        padding: .8em;
        border-radius: 10px;
        font-size: 15px;
        border: 2px solid black;
        color: black;
        text-align: center;
    }
    
    .resume-title {
        grid-column: 1;
        grid-row: 1;
        font-size: 40px;
        padding-bottom: 30px;
    }
    
    .position-title {
        font-size: 25px;
        padding: 0px 0 20px 0;
    }
    
    .add-padding {
        padding: 20 0 0 0 !important;
    }
    
    .company-image {
        background-position: left;
    }
    
    .sk-2, .sk-3, .sk-4 {
        display: none;
    }
     
    .company-1-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1;
        grid-row: ;
        margin-top: 20;
    }
    
    .company-2-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1;
        grid-row: ;
        margin-top: 10;
    }
    
    .company-3-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1;
        grid-row: ;
        margin-top: 20;
    }
    
    .company-4-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1;
        grid-row: ;
        margin-top: 20;
    }
    
    .company-5-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1;
        grid-row: ;
        margin-top: 20;
    }
    
    .company-6-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1;
        grid-row: ;
        margin-top: 20;
    }
    
    .rlt-1 {
        grid-column: 1;
        grid-row: 10; 
        padding-top: 50;
        height: 30;
        margin-top: 45;
        margin-left:;
    }
    
    .bmm-1 {
        grid-column: 1;
        grid-row: 8;
        margin-top: 45px;
        height: 80;
    }
    
    .sk-1 {
        grid-column: 1;
        grid-row: 2;
        margin-top: 25;
        height: 35;
        margin-bottom: 20px;
        
    }
    
}

/* Project section general styling */

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
    color: aqua;
}

/* Project section desktop */

@media screen and (min-width: 850px) {
    
    .projects{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, minmax(0px, auto));
        padding: 4em;
        text-align: center;
        background-color: #fff;
    }
    
    .projects-title {
        grid-column: 1/6;
        grid-row: 1/2;
        text-align: left;
    }
    
    .row-one {
        grid-row: 2/3;
        margin-top: 3em;
    }
    
    .row-two {
        grid-row: 3/4;
        margin-top: 2em;
    }
    
    .row-three {
        grid-row: 4/5;
    }
    
    .col-one {
        grid-column: 2/3;
        margin-right: 3em; 
    }

    .col-two {
        grid-column: 3/4;
    }

    .col-three {
        grid-column: 4/5;
        margin-left: 3em;
    }
    
}

/* Project section mobile */

@media screen and (max-width: 849px) {
    
    .projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, minmax(0px, auto));
        padding: 2em;
        text-align: center;
        background-color: #fff;
    }
    
    .projects-title {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: left;
    }
    
    #one {
        grid-row: 2/3;
        grid-column: 0/1;
        margin-top: 1em;
    }
    
    #two {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-top: 1em;
    }
    
    #three {
        grid-row: 3/4;
        grid-column: 0/1;
    }
    
    #four {
        grid-row: 3/4;
        grid-column: 1/2;   
    }
    
    #five {
        grid-row: 4/5;
        grid-column: 0/1;
    }
    
    #six {
        grid-row: 4/5;
        grid-column: 1/2;
    }  
    
}
