/* Desktop and Tablet */

@media screen and (min-width: 850px) {
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
    
    html {
    }
    
    body {
        font-family: Raleway;
        font-size: 22px;
        color: black;
        font-weight: 400;
        letter-spacing: 2px;
        margin: 0px !important;

    }
    
    .menu-wrapper {
        top: 0;
        left: 0;
        height: 70px;
        position: fixed;
        width: 100%;
        background-color: white;
        box-shadow: 0px 0px 3px #000;
        z-index: 1;
        
    }
    
    .top-scroll {
        display: none;
        font-size: 43px;
        color: grey;
        position: fixed;
        bottom: 0;
        left: 90%;
        background-color: rgba(0,0,0,.0);
        border: 3px solid grey;
        border-bottom: none;
        padding: 15;
        padding-left: 17;
        border-radius: 15%;
        margin-bottom: -15;
        z-index: 1;
    }
    
    .top-scroll:hover {
        background-color: grey;
        color: white; 
    }
    
    #hero {

        height: 100vh;
        width: 100vw;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/hero-background.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
            
    }
    
    .main-header {
        color: white;
        margin-top: 0;
        margin-bottom: .5em;
        font-size: 5em;
        
    }
    
    li {
        float: left;
    }
    
    .menu-link {
        text-decoration: none;
        position: relative;
        top: 22;
        padding: 20px 20px 24px 20px;
    }
    
    .menu-link:hover {
        background-color: aqua;
        color: white;
    }
    
    .hamburger, .cross {
        display: none;
    }
    
    .menu {
        display: block !important;
        float: right;
        font-size: 22px;
        letter-spacing: 2px;
        list-style-type: none; 
        color: white;
        padding-bottom: 2px;
    }
    
    header {
        display: inline-block;
    }
    
    a.btn-learnmore {
        display: block;
        width: 200px;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        font-size: 18px;
        background-color: rgba(0,0,0,.0);
        border: 2px solid white;
        color: white; 
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    a.btn-learnmore:hover {
        color: grey;
        background-color: white;
    }

    .container {
        border: 1px solid black;
    }

    .title {
        line-height: 100px;
        margin: auto;
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 2px;
    }
    
    .row-one {
        grid-row: 2/3;
        margin-top: 3em;
    }
    
    .row-two {
        grid-row: 3/4;
        margin-top: 2em;

    }
    
    .row-three {
        grid-row: 4/5;

    }
    
    .col-one {
        grid-column: 2/3;
        margin-right: 3em;
        
    }

    .col-two {
        grid-column: 3/4;
    }

    .col-three {
        grid-column: 4/5;
        margin-left: 3em;
    }
    
    .fas, .far {
        font-size: 40px !important;
    }
    
    .resume-container {
        padding: 4em;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, minmax(100px, auto)); 
        border-top: 10px solid aqua;
        border-bottom: 10px solid aqua;
        grid-gap: 25px;
    }
    
    .btn-download-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, minmax(0px, auto));
    }
    
    .btn-download {
        position: absolute;
        vertical-align: middle;
        display: block;
        width: 200px;
        padding: 1em;
        border-radius: 10px;
        font-size: 18px;
        background-color: rgba(0,0,0,.0);
        border: 2px solid black;
        color: white; 
        text-align: center;
        grid-column: 4/6;
        grid-row: 1/2;
        color: black;
        cursor: pointer;
        right: 5em;
        margin-top: .5em;
        
    }
    
    a.btn-download:hover {
        color: white;
        background-color: grey;
        border: 2px solid grey;
    }
    
    .resume-title {
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 40px;
        padding-bottom: 30px;
        margin: 20px 0 20px 0;

    }
    
    .position-title {
        font-size: 30px;
        padding-bottom: 30px;
        margin: 20px 0 20px 0;

    }
    
    .section-title {
        font-size: 40px;
        padding-bottom: 30px;
        margin: 20px 0 20px 0;

    }
    
    .company-name {
        font-style: italic;
        font-size: 20px;
    }
    
    .anchor-offset {
        top: -140px;
        display: block;
        position: relative;
    }
    
    .company-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;        
    }
    
    .company-1 {
        grid-column: 4/6;
        grid-row: 2/3;
        background-image: url(../images/profilev2.jpg);
        
    }
    
    .company-2 {
        grid-column: 4/6;
        grid-row: 3/4;
        background-image: url(../images/profilev2.jpg);
        
    }
    
    .company-3 {
        grid-column: 4/6;
        grid-row: 4/5;
        background-image: url(../images/profilev2.jpg);
        
    }
    
    .company-1-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1/4;
        grid-row: 2/3;
    }
    
    .company-2-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1/4;
        grid-row: 3/4;
    }
    
    .company-3-text {
        line-height: 1.45;
        text-align: left;
        grid-column: 1/4;
        grid-row: 4/5;
    }
    
    .contact-form {
        border-radius: 5px;
        border: 1px solid grey;
        margin: 5 0 30 0;
    }
    
    .contact {
        padding: 4em;
    }
    
    .form-name, .form-email, .form-subject, .form-message {
        height: 50px;
        width: 80vw;
        font-size: 22px;
        font-family: raleway;
        color: darkgrey;
        padding-left: 10px;
        background-color: white;
    }
    
    .form-message {
        height: 200px;
        resize: none;
    }
    
    .btn-submit {
        width: 200px;
        font-size: 18px;
        height: 50px;
        background-color: white;
    }
    
    .btn-submit:hover {
        background-color: aqua;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    .success-message {
        display: none;
        background-color: lightgreen;
        padding: 1em;
        color: darkgreen;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    
    .failure-message {
        display: none;
        background-color: lightcoral;
        padding: 1em;
        color: black;
        border-radius: 5px;
        margin-bottom: 20px;   
    }
    
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 30px;
        line-height: 1em;
        cursor: pointer;
        transition: 0.5s;
    }

    .closebtn:hover {
        color: black;
    }
    
    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, minmax(0px, auto));
        background-color: #f6f6f6;
        text-align: center;
        font-size: 15px;
        padding: 25px;
    }
    
    .footer-text {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .footer-icon {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .fa-bicycle {
        font-size: 35px !important;
    }
    