<style type="text/css">

html {
    width: 100%;
    margin: 50px;
}
    
#shape {       
    width: 100px;
    height: 100px;
    background-color: red;
    display: none;
    position: relative;
}
    
</style>